PUBLIC_SITE_URL=https://your-domain.com
PUBLIC_SITE_NAME=Agustina Fassina
PUBLIC_AUTHOR_NAME=Agustina Fassina
PUBLIC_CONTACT_EMAIL=you@example.com
PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/your-form-id
PUBLIC_GITHUB_URL=https://github.com/agustinafassina
PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/agustina-fassina-458247163
PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=
PUBLIC_TURNSTILE_SITE_KEY=
